<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header class="dir-container" style="margin-top: 24px; margin-bottom: 20px;">
    <div class="dir-controls-box" style="margin-bottom: 0; padding: 14px 24px; display: flex; justify-content: space-between; align-items: center; border: 1px solid var(--accent-color);">
        <div>
            <a href="#" class="dir-title" style="font-size: 20px; text-decoration: none;">
                Dev<span>Hub</span>
            </a>
        </div>

        <div style="display: flex; align-items: center; gap: 12px;">
                <a href="{% url 'resume_edit' %}" style="padding: 8px 14px; text-decoration: none; border: 1px solid #9fe8d5; border-radius: 6px; color: #9fe8d5;">
                    Edit Resume
                </a>

            <a href="#" class="dir-btn-reset" style="padding: 6px 12px; text-decoration: none;">Sign In</a>
            <a href="#" class="dir-btn-filter" style="padding: 8px 18px; text-decoration: none;">Sign Up</a>
        </div>
    </div>
</header>


</body>
</html>